:root {
  /* Fonts */
  --fuentePrincipal: "Roboto", sans-serif;
  --fuenteSecundaria: "Lato", sans-serif;

  /* Colores */
  --primario: #1073ba;
  --secundario: #00da55;
  --gris: #3b3b3b;
  --blanco: #fff;
  --negro: #1f1e1e;
  --grisClaro: #e1e1e1;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.5;
}
